code.indent{
    padding-left: 1.8em
}

body {
    background-color: clear;
    width: 60%;
    border: 15px clear;
    padding: 50px;
    margin: auto;
    font-size: 17px;
}

ul {
    list-style: none;
    padding-left: 1.5em;
    margin: 0;
}

li {
    margin: 0;
}

.section-label {
    display: inline-block;
    margin-top: 1.2em;
    margin-bottom: 0.3em;
}
